<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog4java.mybatis.example.mapper.OrderMapper">

    <resultMap id="detailMap" type="com.blog4java.mybatis.example.entity.Order">
        <association property="user" javaType="com.blog4java.mybatis.example.entity.User"
                     select="com.blog4java.mybatis.example.mapper.UserMapper.getUserById" column="userId">
        </association>
    </resultMap>


    <resultMap  id="detailNestMap" type="com.blog4java.mybatis.example.entity.Order">
        <id column="id" property="id"></id>
        <result column="createTime" property="createTime"></result>
        <result column="userId" property="userId"></result>
        <result column="amount" property="amount"></result>
        <result column="orderNo" property="orderNo"></result>
        <result column="address" property="address"></result>
        <association property="user"  javaType="com.blog4java.mybatis.example.entity.User" >
            <id column="userId" property="id"></id>
            <result column="name" property="name"></result>
            <result column="createTime" property="createTime"></result>
            <result column="password" property="password"></result>
            <result column="phone" property="phone"></result>
            <result column="nickName" property="nickName"></result>
        </association>
    </resultMap>

    <select id="listOrdersByUserId" resultType="com.blog4java.mybatis.example.entity.Order">
       select * from "order" where userId = #{userId}
    </select>

    <select id="getOrderByNo" resultMap="detailMap">
       select * from "order" where orderNo = #{orderNo}
    </select>

    <select id="getOrderByNoWithJoin" resultMap="detailNestMap">
       select o.*,u.* from "order" o left join user u on (u.id = o.userId) where orderNo = #{orderNo}
    </select>

</mapper>
